
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
/**********************
COLUMNS
**********************/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.top{
   border-bottom: 3px solid #BCBBBB;
   padding: 10px;
}

.bottom {
    
    width: 100%;
}

*{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color:#BCBBBB;
}

.bottom p {
    text-align: center;
}

.top .col-8 h1{
    font-size: 50px;
    text-align: right;
    padding: 10px;
    margin:0;
    color: #939987;
    font-weight: 300;

}

.top .col-8 h2{
    font-size: 20px;
    text-align: right;
    padding:10px; 
     margin:0;
     color:#939987;

}

.featured {
    font-size: 30px;
    font-weight: bold;
    color:#BCBBBB;
    margin-left: 0.8%;
}

.bottom p{
    font-size: 25px;
    font-weight: 400;
    color:#666756;
    margin: 0;
}

.bottom img{
    width:94%;
    margin:3%;
}

.bottom .git{
    font-size: 15px;
}

.grid{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}








